/* Add here all your CSS customizations */

/* ===== Blue Style  ===== */

/* background-color */
.btn-main, 
.btn-main:focus, 
.btn-main.focus, 
.btn-main:active, 
.btn-main.active,
.portfolio .modal-content .lr,
.portfolio .modal-content .lr .rl,
.progress-bar,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.info-box-1.square-icon .info-box-icon,
.info-box-2.square-icon .info-box-heading .info-box-icon,
.blog .caption-tag:after,
.team .modal-content .lr,
.team .modal-content .lr .rl,
.prices .price-box-featured .panel-heading,
.btn-main, .btn-main:focus, 
.btn-main.focus, 
.btn-main:active, 
.btn-main.active,
.btn-blank:hover,
.trusted-by,
.featured-box .get-started .btn {
	background-color: #3078B3;
}


/* background-color hover */
.btn-main:hover, 
.featured-box .get-started .btn:hover {
	background-color: #24659B;
}


/* background-color transparent */
.cover {
	background-color: rgba(0, 0, 0, 0);
}
.counter-up .cover {
	background-color: rgba(0, 0, 0, 0.84);
}
.testimonial .cover {
	background-color: rgba(0, 0, 0, 0.87);
}
#services-section .cover {
	background-color: rgba(0, 0, 0, 0.9);
}
#contact-section .cover {
	background-color: rgba(0, 0, 0, 0.91);
}
#error-section .cover {
	background-color: rgba(0, 0, 0, 0.88);
}
#video-intro-section .cover {
	background-color: rgba(0, 0, 0, 0.5);
}
.tparrows.preview1:hover:after {
	background-color: rgba(0, 119, 255, 0.15);
}


/* color */
a, 
a:hover, 
a:focus,
.text-main,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus,
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus,
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li.active > a,
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus, 
.navbar-inverse .navbar-nav > li.active > a,
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus,
body.boxed .body .navbar-default .navbar-nav > li > a:hover, 
body.boxed .body .navbar-default .navbar-nav > li > a:focus,
body.boxed .body .navbar-default .navbar-nav > .active > a, 
body.boxed .body .navbar-default .navbar-nav > .active > a:hover, 
body.boxed .body .navbar-default .navbar-nav > .active > a:focus,
body.boxed .body .navbar-inverse .navbar-nav > .active > a, 
body.boxed .body .navbar-inverse .navbar-nav > .active > a:hover, 
body.boxed .body .navbar-inverse .navbar-nav > .active > a:focus,
body.boxed .body .navbar-inverse.navbar-transparent .navbar-nav > .active > a, 
body.boxed .body .navbar-inverse.navbar-transparent .navbar-nav > .active > a:hover, 
body.boxed .body .navbar-inverse.navbar-transparent .navbar-nav > .active > a:focus,
.navbar-default.navbar-fixed-top.navbar-shrink .navbar-brand:hover,
.navbar-default.navbar-shrink .navbar-nav > li > a:hover, 
.navbar-default.navbar-shrink .navbar-nav > li > a:focus, 
.navbar-default.navbar-shrink .navbar-nav > li.active > a,
.navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav > .active > a, 
.navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav > .active > a:hover, 
.navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav > .active > a:focus,
.navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav > li > a:hover, 
.navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav > li > a:focus, 
.navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav > li.active > a,
.navbar-fixed-top.navbar-shrink .navbar-brand:hover,
body.boxed .body .navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav > .active > a, 
body.boxed .body .navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav > .active > a:hover, 
body.boxed .body .navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav > .active > a:focus,
.info-box-1 .info-box-info a:hover,
.info-box-1:hover .info-box-icon,
.info-box-2 .info-box-icon,
.scrolltotop,
#contact-section .social-icons a,
.blog .thumbnail .caption .title:hover,
.prices .price-box-featured .price-box-ribbon,
.btn-blank, 
.btn-blank:focus, 
.btn-blank.focus, 
.btn-blank:active, 
.btn-blank.active,
.dropdown-menu > li > a.active,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
	color: #3078B3;
}


/* border-color */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.owl-theme .owl-controls .owl-page.active span, 
.owl-theme .owl-controls.clickable .owl-page:hover span,
.scrolltotop,
.btn-blank, 
.btn-blank:focus, 
.btn-blank.focus, 
.btn-blank:active, 
.btn-blank.active,
.btn-blank:hover {
	border-color: #3078B3;
}


/* border-top-color */
.navbar-default .dropdown-menu,
.navbar-inverse .dropdown-menu,
.nav-pills > li.active > a:after,
body.boxed .top-slidingbar-trigger-wrapper,
.top-slidingbar-trigger-wrapper, 
.navbar-transparent.navbar-shrink .top-slidingbar-trigger-wrapper {
	border-top-color: #3078B3;
}


/* box-shadow */

.prices .panel-default .panel-heading {
	-webkit-box-shadow: inset 0 4px #3078B3;
	-moz-box-shadow: inset 0 4px #3078B3;
	box-shadow: inset 0 4px #3078B3;
}
.prices .price-box-featured .panel-footer {
	-webkit-box-shadow: inset 0 -4px #3078B3;
	-moz-box-shadow: inset 0 -4px #3078B3;
	box-shadow: inset 0 -4px #3078B3;
}
.navbar-default.navbar-shrink .navbar-nav > li.active > a {
	-webkit-box-shadow: inset 0 3px #3078B3 !important;
	-moz-box-shadow: inset 0 3px #3078B3 !important;
	box-shadow: inset 0 3px #3078B3 !important;
}


/* Small Devices */
@media only screen and (max-width : 767px) {

	.navbar-collapse {
		border-color: #24659B !important;
	}

}