<template>
  <div id="app">
    <loader></loader>
    <site-body></site-body>
  </div>
</template>

<script>
import Icon from 'vue-awesome/components/Icon.vue'
import Loader from './components/Loader.vue'
import SiteBody from './components/SiteBody.vue'
export default {
  name: 'app',
  components: { Icon, Loader, SiteBody }
}
</script>

<style>
</style>
